.bg-color {
	background-color: black;
}


.landing-page {
	height: 670px;
    background-color: black;
}

.friend {
	font-size: 20px;
	color: white;
}

.bot{
	margin-left: 60px;
    margin-top: 80px;
    padding-bottom: 60px;
}
.text{
	font-size:  55px;
	color: #16a085;
    font-family: 'Muli', sans-serif;	padding-top: 50px;
	
}
.update{
	font-size: 55px;
	color:#16a085;
	font-family: 'Muli', sans-serif;
}

#ending-text {
	padding-top: 30px;
}
