.bg-color {
	background-color: #000;
}


.landing-page {
	height: 670px;
    background-color: #000;
}

.friend {
	font-size: 20px;
	color: #dfdddd;
}

.bot{
	margin-left: 60px;
    margin-top: 80px;
    padding-bottom: 60px;
}
.text{
	font-size:  55px;
	color: #1abc9c;
    font-family: 'Muli', sans-serif;	padding-top: 50px;
	
}
.update{
	font-size: 37px;
	color: #1abc9c;
	font-family: 'Muli', sans-serif;
}

#ending-text {
	padding-top: 30px;
}


.footer a {
	color: #dfdddd;
	padding-left: 75px;
	text-decoration: none;
}

.footer a:link {
	color: #dfdddd;
	padding-left: 75px;
	text-decoration: none;
}
