.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*========== CARD ==========
    Is divided in card, img, card-block, h4, p, a
*/

.card {
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    transition: all .5s linear;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: all .5s linear;
}

.card img {
    width: 100%;
    max-height: 50%;
}

.card-block {
    height: 100%;
    width: 100%;
}

.card-block h4 {
    margin-top: 5px;
    margin-left: 4%;
    font-size: 1.8em;
    font-weight: normal;
}

.card-block p {
    height: 160px;
    overflow: hidden;
    margin-left: 4%;
    margin-top: -30px;;
    max-height: 145px;
    color: gray;
}

.card-block a {
    margin-left: 4%;
    padding: 10px 35px;
    background-color: antiquewhite;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    transition: background-color 1s;
}

.card-block a:hover {
    background-color:burlywood;
    transition: background-color 1s;
}

/* Card2 */

.card2 {
    width: 260px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    position: relative;
    transition: all .5s;
}

.card2:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.t-div {
    height: 100%;
    transition: all 1s;
}

.card2 img {
    width: 100%;
    position: relative;
}

.card-button2 {
    padding: 10px 30px;
    background-color: bisque;
    position:absolute;
    top: 175px;
    left: 80px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: background-color .5s;
    display: none;
}

.card-button2:hover {
    background-color: darksalmon;
}

.card-block2 p, .card-block2 h4 {
    position: relative;
    margin-left: 10px;
}